.idea
.idea/*

**/.sass-cache
**/.sass-cache/*
node_modules
node_modules/*
package-lock.json

src/vendor/tareq1988/wordpress-settings-api-class/example
src/vendor/tareq1988/wordpress-settings-api-class/example/*

src/vendor/cmb2/cmb2/languages
src/vendor/cmb2/cmb2/tests
src/vendor/cmb2/cmb2/*.clover
!src/vendor/cmb2/cmb2/languages/*.pot

**/*.log